<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Welcome </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
    <a href="logout">log Out</a>
    <h3>Success! Welcome, {{ name }}!</h3>
    <p>Successfully registered (or logged in)!</p>
</body>

</html>