{% extends "base.html" %} {% block title%} Authors {%endblock%} {% block content%}

<h3>{{ authors.first_name }} {{ authors.last_name }}</h3>
<p>ID: {{authors.id}}</p>
<p>Notes: {{ authors.notes }}</p>

<h3>Books:</h3>
<ul>
    {% for book in author.books.all %}
    <li>{{book.title}}</li>
    {% endfor %}
</ul>

<form action="/add_book_to_author/{{ author_id }}" method="POST">
    <!-- action="/author/{{ author.id }}" -->
    {% csrf_token %}
    <select name="book_id">
        {% for book in books %}
        <option value="{{ book.id }}"> {{ book.title }}</option>

        {% endfor %}
    </select> <br>
    <button>Add</button> {% endblock %}