{% extends "base.html" %} {% block title %} TV Shows | All Shows {% endblock %} {% block content %}
<h1>All Shows</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Network</th>
        <th>Release Date</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    {% for object in new_show %}
    <tr>
        <td><a href="shows/{{object.id}}">{{object.id}}</a></td>
        <td>{{object.title}}</td>
        <td>{{object.network}}</td>
        <td>{{object.release_date}}</td>
        <td>{{object.description}}</td>
        <td>
            <p><a href="/shows/{{object.id}}/edit">Edit</a> | <a href="/shows/{{object.id}}/destroy">Delete</a> | <a href="/shows/{{object.id}}">Show</a></p>
        </td>
    </tr>
    {% endfor %}
</table>
<a href="/shows/new">Add a New Show</a> {% endblock %}